.chatRoom {
    display: flex;
    width: 100%;
    height: 550px;
    background-color: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height:0px
}

::-webkit-scrollbar-track {
    background-color:#ecedee
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:#f50057;
}

::-webkit-scrollbar-thumb:hover{
    background-color:#f50057;
}

::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px;
}

::-webkit-scrollbar{
    width: 4px;
}